body {
  padding: 0 1rem;
}

@media (max-width: 767px) {
  #first-carousel-slide {
    height: 50rem;
    color: #ffff;
    padding: 10.8rem 0;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(/Photos/hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #second-carousel-slide {
    height: 50rem;
    color: #ffff;
    padding: 13rem 0;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(/Photos/image2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #third-carousel-slide {
    height: 50rem;
    color: #ffff;
    padding: 13.8rem 0;
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url(/Photos/hero3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #second-c {
    margin: auto;
    text-align: center;
  }
  .first-carousel-logo {
    margin: auto;
  }
}

@media (min-width: 768px) {
  nav .active {
    border-bottom: 5px solid green;
  }
  #carousel-inner {
    text-align: start;
  }
  .logo-text {
    padding: 10rem 5rem 0;
    background-color: #fffbf6;
  }
  .logo-text1 {
    padding: 10rem 5rem 0;
    background-color: #f2fcf9;
  }
  .logo-text2 {
    padding: 10rem 5rem 0;
    background-color: #f8f0ee;
  }
  #cards {
    gap: 6rem;
  }
}
#aboutpagetop {
  color: #ffff;
  margin: auto;
  padding: 10rem 7rem;
  height: 12rem;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/Photos/about1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#programs-artice {
  background-color: #fffbf6;
  padding: 10rem 0 6rem;
}
/* News page */
.first-bg {
  background-color: #f9ecdc;
  height: 23rem;
  color: #000;
}

#heading-01 {
  padding-top: 13rem;
}

u {
  border-bottom: 2px solid yellow;
}
.cardcarousel {
  height: 10rem;
}
